body{
    background-color: #f0f3ef;
}
.clicktoclose_banner{
    height: 80px;
    background: url(../img/clicktoclose.jpg) no-repeat center;
    background-color: #FCB4FE;
}
/* 忘了那个图片要盖住这一行了 */
.veil{
    display: inline-block;
    height: 31px;
    width: 189px;
    background-color: white;
}
/* 没办法下面放一个div，包裹img，否则背景是灰色，不好看 */
.veil2{
    background-color:white;
    width: 189px;
    height: 170px;
}
.top_nav_container{
    background-color: #e3e4e5;
    height: 31px;
}
i[class~="fa-window-close-o"]{
    position: absolute;
    right:0px;
    top:8px;
    cursor: pointer;
}
div[class="block_mediate type_area"]{
    position: relative;
}
/* 正常的第一行导航条 坐起有『地址』 右起『手机京东』 */
.nav_item{
    display: inline;
    z-index: 30;

}
.nav_item li{
    float: right;
    padding-right: 12px;
    line-height: 31px;

}
.nav_item li:first-of-type{
    float: right;
    padding-right: 0px;
    line-height: 31px;

}
.nav_item a{
    color: #999;
    font-size: 12px;
    margin-right: 12px;
}
.nav_item a:hover{
    color:red;
}
i[class~=fa-map-marker]{
    line-height: 31px;
    color: #f10215;
    position: absolute;
    left:200px;
}
i[class~=fa-map-marker]+span{
    color: #999;
    position: absolute;
    top:5px;
    left:220px;
}
div.search_panel{
    height: 60px;
    position: relative;
}
img[src="img/logou.gif"]{
    /* boxshadow 双边阴影的设置方法。 */
    box-shadow: 5px 0px 5px -5px gray, -5px 0px 5px -5px gray;
}

input[class=search_input]{
    height: 35px;
    width: 500px;
    position: absolute;
    top:25px;
    left:50%;
    margin-left: -250px;
    border:none;
    color:#999

}

form[action="php/index.php"]>button{
    width: 50px;
    height: 35px;
    background-color:red;
    border:none;
    color:white;
    font-size: 20px;
    position: absolute;
    top:25px;
    right:345px;
}
.shopping_trolley{
    width: 190px;
    background-color: #fff;
    position: absolute;
    top:25px;
    right:105px;
    line-height: 36px;
    text-align: center;
    color: red;
    border: 1px solid rgb(189, 189, 189);
}
img[src="img/qrcode.png"]{
    position: absolute;
    top:0;
    right: 0;
    width: 50px;
    height: 50px;
}
div[class="under_search"]>ul{
    width: 500px;
    height: 35px;
    position: absolute;
    top:65px;
    left:50%;
    margin-left: -250px;
}
div.under_search li{
    padding: 0 15px 0 5px;
    display: inline-block;

}
div.under_search a{
    color:#999;
    line-height: 20px;
    font-size: 12px;
}
div.nav_item2{
    text-align: center;
    margin-top: 80px;;


}
.nav_item2 li{
    display: inline-block;
    padding: 0 15px 0 20px;
    height: 30px;
}
.nav_item2 a{
    text-decoration: none;
    color:black;
    font-size: 16px;
    font-family: consolas;
    padding-right: 25px;
}

li[class="footer_up"]{
    list-style: none;

}
li[class="footer_up"] div{
    width: 225px;
    font-size: 18px;
    font-weight: 700;
    color:#444;
    height: 42px;
    line-height: 42px;

}
/* 放置精灵图多快好省的四个h3 */
.footer_up{
    height:103px;
    overflow: hidden;
}
footer  ul{
    margin-top: 31px;
}
/* 尽量不要三层选择器 */
footer .footer_up li{
    list-style: none;
    float: left;
    margin-left: 60px;
}
footer h3{
    height: 42px;
    width: 36px;
    display: inline-block;
    vertical-align: bottom;

}
footer p{
    margin-left: 10px;
    width: 180px;
    display:inline-block;
    line-height: 42px;
    font-size: 18px;
    font-weight: 700;
    color: #444;
}
/* 多快好省四个h3的背景图片分别设置 */
.much{
    background: url(../img/sprite.footer.png) no-repeat 0 -192px;

}
.quick{
    background: url(../img/sprite.footer.png) no-repeat -41px -192px;
}
.good{
    background: url(../img/sprite.footer.png) no-repeat -82px -192px;
}
.economical{
    background: url(../img/sprite.footer.png) no-repeat -123px -192px;
}
/* 用一个p做hr效果很好！ */
.divider{
    width: 100%;
    height : 1px;
    background : #999;
    margin: 0;
}
/* 页脚底部第二行，也就是左起购物指南这一行 */
.footer_detail_licontainer{
    float: left;
    margin-left:100px; ;
}
.footer_second{
    height: 200px;
    padding-bottom: 20px;
    border-bottom: 1px solid #999;
}

.footer_second li{
    list-style: none;
    line-height: 25px;
    font-size: 14px;
    color:#666;
}

#footer_detail_right{
    float: right;
    height: 224px;
    width: 200px;
    position: relative;

}
#footer_detail_right p,#footer_detail_right h6 {
    text-align: center;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.5;
}
#footer_detail_right p{
    margin-top: 20px;

}
#see_more{
    position: absolute;
    right: 2px;;
    }
.footer_third{
    line-height: 18px;
    font-size: 12px;
    color:#999;

}
.f3c{
    list-style: none;
    float:left;
    margin-right:10px;
}
.f3b{
    padding-left:20px;
}
.f3c a{
    margin-right: 10px;
}